<app-loading *ngIf="loading"></app-loading>

<div class="row animated fadeIn" *ngIf="!loading">
  <div class="col-2">
    <img class="img-thumbnail img-circle" [src]="artist.images | notImages" [alt]="artist.name">
  </div>
  <div class="col">
    <h3>{{ artist.name }}</h3>
    <p>
      <a [href]="artist.external_urls.spotify" target="__blank">see artist's page</a>
    </p>
  </div>
  <div class="col-4 text-right">
      <button class="btn btn-outline-danger" routerLink="/search">Back</button>
  </div>
</div>

<div class="container my-5">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Photo</th>
        <th scope="col">Album</th>
        <th scope="col">Song</th>
        <th scope="col">Preview</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>
</div>

